--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.8.0+cu128
torchvision==0.23.0+cu128
torchaudio==2.8.0+cu128

git+https://github.com/m-bain/whisperx.git@5f2f9d4320dd93a7d12f5ba2495eef7e0a5af963

pysrt
pydub
pyyaml
wheel
transformers==4.57.6
tokenizers==0.22.2
hf_xet
